<div class="workspace">
  <div class="resources-container">
    <button class="orb orb--resources workspace__orb--left js-toggle-resources-sidebar">R</button>
    
    <section class="resources sidebar workspace__sidebar--left">
      <h1 class="resources__title">Resources</h1>
      <ul class="resources__list">
        <%- 10.times do %>
          <li>David Bohorquez</li>
        <%- end %>
      </ul>
    </section>
  </div>

  <div class="groups">
    <button class="orb orb--groups workspace__orb--right js-toggle-groups-sidebar">P</button>  
  </div>
</div>