<div class="workspace">
  <div class="workspace__chart js-workspace-chart"></div>

  <div class="resources-container">
    <button class="orb orb--resources workspace__orb--left js-toggle-sidebar" data-target=".js-resources-sidebar">
      <span class="workspace-orb__label">
        <i class="icon icon--pawn"></i>
      </span>
      <span class="workspace-orb__label--alt">Close</span>
    </button>

    <section class="resources sidebar workspace__sidebar--left js-resources-sidebar">
      <h1 class="resources__title">Resources</h1>
      <ul class="resources__list">
      </ul>
    </section>
  </div>

  <div class="groups-container">
    <button class="orb orb--groups workspace__orb--right js-toggle-sidebar" data-target=".js-groups-sidebar">
      <span class="workspace-orb__label">
        <i class="icon icon--group"></i>
      </span>
      <span class="workspace-orb__label--alt">Close</span>
    </button>

    <div class="groups sidebar workspace__sidebar--right js-groups-sidebar">
      <form class="js-new-resource-group-form" action="<%= resource_groups_path(version:1, wid: @workspace.unique_id)%>" data-method="post" >
        <div class="form-inline">
          <input type="text" autocomplete="off" class="form-control form-control--clear input--large js-group-input-name js-name" placeholder="<%= @workspace.resource_groups_name %> Name" name="resource_group[name]" data-name="name">
          <input type="submit" class="button button--info button--large float--right js-submit" value="OK">
        </div>
      </form>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    Resorcery.workspace_id = <%= @workspace.unique_id.to_json.html_safe %>;
    NewResourceGroupForm.init(".js-new-resource-group-form");
  </script>
<% end %>

