.grid{
	@extend %grid;
}

.grid--middle{
  @extend %grid--middle;
}

.grid--full{
  @extend %grid--full;
}

.grid__item{
	@extend %grid__item;
}

.one-sixth{
  @extend %one-sixth;
}

.four-sixths{
  @extend %four-sixths;
}

.one-half{
	@extend %one-half;
}

.large--one-half{
  @extend %large--one-half;
}

.one-quarter{
  @extend %one-quarter;
}

.medium--one-quarter{
  @extend %medium--one-quarter;
}

.one-third{
  @extend %one-third;
}

.two-thirds{
  @extend %two-thirds;
}

.one-fifth{
  @extend %one-fifth;
}

.one-sixth{
  @extend %one-sixth;
}

.large--one-fifth{
  @extend %large--one-fifth;
}

.border--small{
  position: relative;
  &:after{
    content: "";
    width: 36px;
    display: block;
    margin-top: $base-spacing-unit;
    margin-bottom: $base-spacing-unit;
    border-top: 2px solid $color-brand;

  }
}

.border--small--center{
  &:after{
    margin-left: auto;
    margin-right: auto;
  }
}
