.irs-slider,
.irs-line-left,
.irs-line-mid,
.irs-line-right {
  background: #EEE !important;
}

.irs-bar,
.irs-to,
.irs-from,
.irs-grid-pol {
  background: $brand-primary !important;
  border: 0 none !important;
}

.irs-slider {
  width: 16px !important;
  height: 16px !important;
  box-shadow: none !important;
  top: 30px !important;
}