.landing__main-banner {
  background: #746AC4 url(/assets/main-banner.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding: 4em 0;
  text-align: center;
}

.main-banner__heading {
  color: white;
  font-size: 56px;
  margin: 0;
  text-transform: uppercase;
}

.main-banner__subheading {
  color: #EEE;
  font-size: 32px;
  margin-bottom: 2em;
}

.main-banner__buttons {
  margin-bottom: 30px;
}

.main-banner__links {
  a {
    color: white;
    display: inline-block;
    margin: 0 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    font-size: 2em;
    margin: 0 5px;
    vertical-align: middle;
  }
}

.landing__screenshot {
  max-width: 100%;
}

.landing__section {
  font-size: 18px;
}

.landing__section--highlight {
  background: #746AC4;

  .landing__heading {
    color: white;
  }

  & > .container {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;

    @include grid-media-query('medium'){
      background: url(/assets/illustration.png) no-repeat 100% 20px;
      background-size: 462px 256px;
      text-align: left;
    }
  }
}

.landing__heading {
  margin-bottom: 1.5em;
}