.landing__main-banner {
  background: #746AC4 url(/assets/main-banner.jpg) no-repeat center;
  background-size: cover;
  padding: 4em 0;
}

.main-banner__heading {
  color: white;
  font-size: 56px;
  margin: 0;
  text-transform: uppercase;
}

.main-banner__subheading {
  color: #EEE;
  font-size: 32px;
  margin-bottom: 1em;
}