.main-logo{
  font-size: 1em;
  line-height: 60px;
  float: left;
  & > a{
    background: asset-url("svg/logo-white.svg") no-repeat 0 0;
    background-size: cover;
    display: inline-block;
    width: 120px;
    height: 30px;
    font-size: 0;
    vertical-align: middle;
  }
}

@mixin logo-variant($large-size, $small-size) {
  a{
    background-position: $small-size;
    @media #{$medium-max} {
      background-position: $large-size;
    }
  }
}

.main-logo--light{
  @include logo-variant( 0 -701px, 0 -511px);
}
.main-logo--color{
  @include logo-variant( 0 -608px, 0 -378px);
}
.main-logo--dark{
  @include logo-variant( 0 -444px, 0 -654px);
}
.main-logo--brand{
  @include logo-variant( 0 -562px, 0 -312px);
}
