<h1>This is Resorcery!</h1>

<h2>Resorcery is free, it is magic, it is flexible.
It is the way to visually plan and deploy resources.</h2>


<p>Start organizing now what matters the most to you.</p>

<p>You can plan anything!</p>

<ul>
  <li>Developers in your projects</li>
  <li>Football Players in the field</li>
  <li>You MMO party</li>
  <li>Organize invitees along tables in your event</li>
  <li>Plan the resources of your company in the field</li>
</ul>

<br>

<%= link_to "Go to the demo here!", "#" %>

<br>
<br>

<%= link_to "Sign Up NOW, it is free!", new_user_registration_path %>

<br>
<br>

<%= link_to "take me to my account", new_user_session_path %>

